* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* .container{
   border: 4px solid red;
   width: 600px;
   height: 500px;
   margin: 20px auto;
   position: relative;
}

.box{
   width: 220px;
   height: 220px;
}

.box:nth-child(1){
   background: seagreen;
   position: absolute;
   z-index: -1;
  
}

.box:nth-child(2){
   background: crimson;
   position: absolute;
   z-index: -2;
}

.box:nth-child(3){
   background: orange;
   position: absolute;
   z-index: 0;
} */

header {
  background: #1d1d1d;
  position: fixed;
  top:0;
  z-index: 1;
  width: 100%;
}

/* fixed=sticky+absolute; */

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  height: 70px;
  align-items: center;
}

.nav__ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav__ul .nav__link a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}


.nav__ul .nav__link a:hover {
  text-transform: uppercase;
  color: rgb(216, 216, 216);
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.wrapper .card {
 width: 33%;
 background-image:url("https://picsum.photos/400/200");
 height: 240px;
 background-repeat: no-repeat;
 background-size: cover;
 padding: 20px 12px;
 border-radius:8px ;
 -webkit-border-radius:8px ;
 -moz-border-radius:8px ;
 -ms-border-radius:8px ;
 -o-border-radius:8px ;
 cursor: pointer;
}

section{
   padding: 50px;
   background: silver;
   margin-top: 120px;
}


.image_section{
   display: flex;
   justify-content: space-around;
   margin: 12px;
}


 img{
  height: 400px;
  width: 400px;
  object-fit:cover;
  object-position: -300px 0px;
  background: #000;
  filter:contrast(10);
  -webkit-filter:contrast(10);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

/* dropdown menu */

.dropdown{
   display: inline-block;
   position: relative;
}

.dropdown .menu-content{
   display: none;
   background: white;
   position: absolute;
   border-radius:4px;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   -ms-border-radius:4px;
   -o-border-radius:4px;
   padding: 12px;
   top:20px;
}
.dropdown .menu-content a{
   color:rgb(0, 0, 0);
   margin: 2px;
   width: 100%;
   display: block;
   padding: 10px;
}

.dropdown .menu-content a:hover{
   color:black;
   background: silver;
}
.dropdown:hover .menu-content {
  display: block;
}

