* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: rgb(255, 241, 241);
}

.nav__ul {
  background: #fff;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.nav__ul .nav__ul__brand{
   margin-left: 25px;
}

.nav__ul .nav__ul__list {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav__ul .nav__ul__list .nav__ul__list__item .nav__ul__list__item--link {
  text-decoration: none;
  color: #000;
}

/* header section finish */


main{
   background: rgb(255, 241, 241);
}

.card__wrapper{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.card{
   width: 500px;
   border: 1px solid #049862;
   height: 540px;
   background: #fff;
}

.card__image{
   width: 100%;
   height: 320px; 
   
   object-fit: cover;
   object-position: top;
}

.card__description , .card__title{
  margin: 8px;
}



/* RWD Responsive WEB Design */

@media only screen and (max-width: 992px){

   .container {
      width: 80%;
      margin: 0 auto;
    }
    
    header {
      background: rgb(104, 104, 104);
    }
    
    .nav__ul {
      background: #fff;
      display: flex;
      justify-content: flex-start;
      height: 60px;
      align-items: center;
    }
    
    .nav__ul .nav__ul__brand{
       margin-left: 25px;
       color:green;
    }
    
    .nav__ul .nav__ul__list {

      width: 40%;
      display: none;
      justify-content: space-around;
      list-style-type: none;
    }
    
    .nav__ul .nav__ul__list .nav__ul__list__item .nav__ul__list__item--link {
      text-decoration: none;
      color: #000;
    }
    
    /* header section finish */
    
    
    main{
       background: rgb(126, 126, 126);
    }
    
    .card__wrapper{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items:center;
    }
    
    .card{
       width: 500px;
       border: 1px solid silver;
       height: 540px;
       background: rgb(147, 226, 255);
       margin: 15px;
    }
    
    .card__image{
       width: 100%;
       height: 320px; 
       object-fit: cover;
       object-position: top;
    }
    
    .card__description , .card__title{
      margin: 8px;
    }

     
}


/* tablets and large screens */
@media only screen and (max-width: 768px){

   .container {
      width: 80%;
      margin: 0 auto;
    }
    
    header {
      background: rgb(104, 104, 104);
    }
    
    .nav__ul {
      background: #fff;
      display: flex;
      justify-content: flex-start;
      height: 60px;
      align-items: center;
    }
    
    .nav__ul .nav__ul__brand{
       margin-left: 25px;
       color:green;
    }
    
    .nav__ul .nav__ul__list {

      width: 40%;
      display: none;
      justify-content: space-around;
      list-style-type: none;
    }
    
    .nav__ul .nav__ul__list .nav__ul__list__item .nav__ul__list__item--link {
      text-decoration: none;
      color: #000;
    }
    
    /* header section finish */
    
    
    main{
       background: rgb(126, 126, 126);
    }
    
    .card__wrapper{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items:center;
    }
    
    .card{
       width: 500px;
       border: 1px solid silver;
       height: 540px;
       background: rgb(147, 226, 255);
       margin: 15px;
    }
    
    .card__image{
       width: 100%;
       height: 320px; 
       object-fit: cover;
       object-position: top;
    }
    
    .card__description , .card__title{
      margin: 8px;
    }

     
}

/* small smartphones and small screen devices */


@media only screen and (max-width: 576px){

   .container {
      width: 100%;
      margin: 0 auto;
    }
    
    header {
      background: rgb(104, 104, 104);
    }
    
    .nav__ul {
      background: rgb(0, 255, 106);
      display: flex;
      justify-content: flex-start;
      height: 60px;
      align-items: center;
    }
    
    .nav__ul .nav__ul__brand{
       margin-left: 25px;
       color:rgb(0, 0, 0);
    }
    
    .nav__ul .nav__ul__list {

      width: 40%;
      display: none;
      justify-content: space-around;
      list-style-type: none;
    }
    
    .nav__ul .nav__ul__list .nav__ul__list__item .nav__ul__list__item--link {
      text-decoration: none;
      color: #000;
    }
    
    /* header section finish */
    
    
    main{
       background: rgb(126, 126, 126);
    }
    
    .card__wrapper{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items:center;
    }
    
    .card{
       width: 300px;
       border: 1px solid silver;
       height: 340px;
       background: rgb(0, 255, 106);
       border-radius: 8px;
       margin: 15px;
       -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       -ms-border-radius: 8px;
       -o-border-radius: 8px; 
       padding-bottom: 10px;
}
    
    .card__image{
       width: 200px;
       height: 200px;
       object-fit: cover;
       object-position: top;
       margin: 0 auto;
       display: block;
       border-radius: 50%   ;
       -webkit-border-radius: 50%   ;
       -moz-border-radius: 50%   ;
       -ms-border-radius: 50%   ;
       -o-border-radius: 50%   ;
}
    
    .card__description , .card__title{
      margin: 5px;

    }

    .card__title{
       font-size: 20px;
    }

    .card__description{
       font-size: 12px;
    }

     
}