* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  width: 100%;
  background: seagreen;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-template-rows: 60px 1fr 80px;
  justify-content: center;
  grid-template-areas:
    "header header header"
    "menu main aside"
    "footer footer footer";
}

.grid-item-1 {
  background: #fff;
  width: 100%;
  height: 300px;
}
.grid-item-2 {
  background: rgb(233, 0, 0);
  grid-area: header;
}

.grid-item-3 {
  background: rgb(0, 200, 97);
  grid-area: menu;
  display: flex;
  align-items: flex-end;
}

.grid-item-4 {
  background: rgb(207, 207, 0);
  grid-area: main;
}

.grid-item-5 {
  background: rgb(0, 21, 211);
  grid-area: aside;
}

.grid-item-6 {
  background: rgb(255, 126, 5);
  grid-area: footer;
  padding: 50px;
}
