@charset "UTF-8";
@import "./normalize";
@import "./general";
@import "./variables";
@import "./fonts";
@import "./blocks/all-blocks";
@import "./extends";
@import "./btn";



.btn {
   @include btn(white, 200px, 200px, 20px)
}



.card {
   @extend %rounded-card-center;
   background-color: crimson;
   @include btn(white, 600px, 400px, 23px);
}



.nav {
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;


   &__brand {
      color: rgb(255, 255, 255);

      &:hover {
         color: red;
      }
   }

   &__list {
      display: flex;
      width: 50%;
      justify-content: space-around;

      &--item {
         list-style-type: none;

         &--link {
            @extend %list-none;

            color: rgb(255, 255, 255);

            &:hover {
               color: yellow;
            }

         }
      }

   }


}


main {
   min-height: 88vh;
}